$color_primary: #d40101;
$color_secondary: #ffffff;
$color_info: #42a5f5;
$color_warning: #fb8c00;
$color_error: #d40101;
$color_success: #8bc34a;
$color_disabled: #ebebeb;
$color_text: #333333;
$color_background: #bfbfbf;
$color_link: #3f51b5;
$color_line: #555555;

$bg_colors: (
  "bg_primary" #d40101,
  "bg_secondary" #ffffff,
  "bg_info" #42a5f5,
  "bg_warning" #fb8c00,
  "bg_error" #d40101,
  "bg_success" #8bc34a,
  "bg_disabled" #ebebeb,
  "bg_text" #333333,
  "bg_background" #bfbfbf,
  "bg_link" #3f51b5,
  "bg_line" #555555
);

$colors: (
  "color_primary" #d40101,
  "color_secondary" #ffffff,
  "color_info" #42a5f5,
  "color_warning" #fb8c00,
  "color_error" #d40101,
  "color_success" #8bc34a,
  "color_disabled" #ebebeb,
  "color_text" #333333,
  "color_background" #bfbfbf,
  "color_link" #3f51b5,
  "color_line" #555555
);

@each $name, $bg_color in $bg_colors {
  .#{$name} {
    background: $bg_color !important;
  }
}

@each $name, $color in $colors {
  .#{$name} {
    color: $color !important;
  }
}
