$font_head: clamp(2.8rem, 2.5vw, 3.2rem);
$font_subHead: clamp(2rem, 2.5vw, 2.4rem);
$font_superText: clamp(1.4rem, 2.5vw, 1.8rem);
$font_text: clamp(1.2rem, 2.5vw, 1.4rem);
$font_small: clamp(1rem, 2.5vw, 1.2rem);

$fonts: (
  "font_head" clamp(2.8rem, 2.5vw, 3.2rem),
  "font_subHead" clamp(2rem, 2.5vw, 2.4rem),
  "font_superText" clamp(1.4rem, 2.5vw, 1.8rem),
  "font_text" clamp(1.2rem, 2.5vw, 1.4rem),
  "font_small" clamp(1rem, 2.5vw, 1.2rem)
);

@each $name, $font in $fonts {
  .#{$name} {
    font-size: $font;
  }
}
